@{ ViewData["Title"] = "Home Page"; }




<div class="gname">
    <h1 class="display-4">Eclair Group</h1>
    <br />
    <div class="cinema">
    </div>
    <div class="jumbotron">
        Group Members:<br />
        Sampedro, James Paul<br />
        Laureta, Benedict John<br />
        Brazal, Mathew Clint<br />
        Ditchella, Bella
    </div>
</div>

